.footer {
    background-color: #206572;
    margin-top: 2rem;

}

.footer-links {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    background-color: #206572;
}


.footer-links img {
    float: left;
    width: 120px;
    height: auto;
    padding-bottom: 1rem;
}

.footer-social-links a {
    color: #fff;
    margin-left: 10px;
}

.footer-link-heading {
    margin-bottom: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
    margin-bottom: 0rem;
}

.footer-link-items {
    line-height: 0.1rem;
    text-align: left;
}

.footer-link-item {
    cursor: pointer;
    color: white;
}

.footer-link-heading-active {
    margin-bottom: 7px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 900;
}

.footer-link-items-active {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-link-item-active {
    cursor: pointer;
    color: white;
}


.router-link {
    color: #fff;
    text-decoration: none;
}